
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> dev ###
.idea/*
composer.phar
.DS_Store
###< dev ###

###> docker ###
### it should not be excluded normally
### but it's not the point of this exercise
docker/*
docker-compose.yml
###< docker ###
